<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts/main">
<head>
	<title>Index Page</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="starter-template">
			<h1>Spring-Boot, Bootsrap, Thymeleaf, JPA, H2 DB</h1>
			<p class="lead">
				<br>Use this document as a way to quickly start any new project.</br> 
				All you get is this text and a mostly barebones HTML document.
			</p>
			<p><a href="/loopdata/list">Beispiel >> LoopData</a></p>
			<br></br>
		</div>
	</div>
</body>
</html>