<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layouts/main">
<head>
<title>List User</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="panel panel-default">
			<div class="panel-heading">List Loop</div>
			<div class="panel-body">
				<p>Tabelle User</p>
			</div>
			<table class="table table-striped">
				<tr>
					<th>Id</th>
					<th>Vorname</th>
					<th>Nachname</th>
				</tr>
				<tr th:each="user : ${user}">
					<td th:text="${user.id}">1</td>
					<td th:text="${user.vorname}">Vorname</td>
					<td th:text="${user.nachname}">Nachname</td>
				</tr>
			</table>
			<div class="panel-footer">
				<h3><a href="/loopdata/list"> <span	class="glyphicon glyphicon-circle-arrow-left"> </span></a></h3>
			</div>
		</div>

	</div>
</body>
</html>